.navbar {
  width: 90%;
  background: #f5f0e8; /* beige */
  color: #3b2f2f;      /* dark brown */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 2px solid #e7dccf;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 16px;
  border: 2px groove #3b2f2f;
}

.nav-logo {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  text-decoration: none;
  color: #3b2f2f;
  border-radius: 16px;
  border: 2px #3b2f2f;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-family: "Merriweather", serif;
  color: #3b2f2f;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.nav-link:hover {
  opacity: 0.7;
}